---
# main Sass file
---
@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Exo+2:400,400i,600,700|Share+Tech+Mono';

// sass partial
@import "colors";

body {
    background-color: $bgcolor;
    color: $textcolor;
    font-family: 'Exo 2'; 
    font-size: 1.2em;
    max-width: 750px;
    margin-left: 12%;
    margin-right: 12%;
    line-height:1.6;
}

h1, h2, h3 {
    line-height:1.2;
}

nav {
    text-transform: uppercase;
    font-weight: 400;
    a {
        text-decoration: none;
        &:hover {
            border-bottom: 2px solid $main500;
        }
    }
    ul {
        margin-left: -10px;
        padding-left: 0px;
        li { 
            display: inline-block;
            padding: 10px;
        }
    }
}

a {
    color: $accent700;
    &:hover {
        color: $accent400;
    }
}

figure {
    max-width: 100%;
    img {
        max-width: 112%;
    }
    code {
        font-size: 100%;
    }
}

code {
    font-family: 'Share Tech Mono', monospace;
    font-size: 85%;
}

// site local "semantic" styling
.biblio {
    span.authors, span.year {
        font-weight: 600;
    }
}
