---
# main Sass file
---
@charset "utf-8" ;
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,200,400italic,700);

// sass partial
@import "colors" ;

body {
    background-color: $bgcolor ;
    color: $textcolor ;
    font-family: "Exo 2" ;
}

nav {
    text-transform: uppercase ;
    font-weight: 400 ;
    a {
        text-decoration: none;
    }
    ul {
        margin-left: -10px ;
        padding-left: 0px ;
        li { 
            display: inline-block ;
            padding: 10px ;
        }
    }
}

a {
    color: $accent700 ;
}
