<header class="site-header">
   <nav>
   <ul>
   <li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
   <li><a href="{{ "/about/" | prepend: site.baseurl}}">About</a></li>
   <li><a href="{{ "/download/" | prepend: site.baseurl}}">Download</a></li>
   <li><a href="{{ "/doc/" | prepend: site.baseurl}}">Documentation</a></li>
   <li><a href="{{ "/contributing/" | prepend: site.baseurl}}">Contributing</a></li>
   <li><a href="{{ "/citing/" | prepend: site.baseurl}}">Citing</a></li>
   </ul>
   </nav>
</header>
